body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}
.row{
  text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
}
input {
  max-width: 500px;
}

.gray {
  color: #828282;
}

.orange {
  background-color: pink;
}

.background-gray {
  background-color: rgb(246, 246, 239);
}

.f11 {
  font-size: 11px;
}

.w85 {
  width: 85%;
}

.button {
  font-family: monospace;
  font-size: 10pt;
  color: darkorchid;
  background-color: palevioletred;
 
  text-align: center;
  padding: 2px 6px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: blue;
  cursor: pointer;
  max-width: 250px;
}



.i-Home{
  font-size: 2rem;
  color: darkred;
}

.Center{
  text-align: center;
  font-size: 1rem;
}

button{
  color: aqua;
  background-color: palevioletred;
}

input{
  background-color: blueviolet;
  color: aliceblue;
  border-radius: 100px;
}